.cell{
  width: 4.5vh;
  height: 4.5vh;
  margin: 1px;
  background-color: #d8d4ec;
  border: none;
  // color: chartreuse;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 4vh;
  padding: auto;
}

.win{
  background-color: #0000ff;
}
