.login-root{
  padding: 50px;
  width: 30%;
  height: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 3px solid #fff;
  border-radius: 5px; 
  margin: auto;
  &-form{
    text-align: center;
  }
}